groups:
- name: lambda-alerts
  rules:
  - alert: LambdaErrorsDetected
    expr: increase(aws_lambda_errors_sum{dimension_FunctionName="image-processor-dev-processor"}[5m]) > 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Lambda errors detected"
      description: "Errors in last 5m: {{ $value }} for image-processor-dev-processor"

  - alert: LambdaHighDuration
    expr: aws_lambda_duration_maximum{dimension_FunctionName="image-processor-dev-processor"} > 2000
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "Lambda max duration high"
      description: "Max duration is {{ $value }} ms (> 2000ms) for image-processor-dev-processor"

  - alert: LambdaNoInvocations
    expr: increase(aws_lambda_invocations_sum{dimension_FunctionName="image-processor-dev-processor"}[10m]) == 0
    for: 10m
    labels:
      severity: info
    annotations:
      summary: "No Lambda invocations"
      description: "No invocations in 10m for image-processor-dev-processor"
